<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="org.holbreich.lfgm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perespective"
            class="org.holbreich.lfgm.Perspective"
            id="org.holbreich.lfgm.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.holbreich.lfgm.prodextensionid"
            name="RCP Life Game">
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.holbreich.lfgm"
            class="org.holbreich.lfgm.views.MainGameView"
            icon="icons/sample.gif"
            id="org.holbreich.lfgm.views.MainGameView"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.holbreich.lfgm.application"
            name="Shuron&apos;s Life Game">
         <property
               name="appName"
               value="Shuron&apos;s Life Game">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.holbreich.lfgm.handler.RunHandler"
            id="org.holbreich.lfgm.command.run"
            name="Run Game">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.holbreich.lfgm.toolbar1">
            <command
                  commandId="org.holbreich.lfgm.command.run"
                  icon="icons/alt_window_16.gif"
                  label="Run game"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
