<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.holbreich.lfgm.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="org.holbreich.lfgm.Perspective"
            id="org.holbreich.lfgm.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.holbreich.lfgm.application"
            name="Example Product">
         <property
               name="appName"
               value="Example Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.holbreich.lfgm.prodextensionid"
            name="RCP Life Game">
      </product>
   </extension>

</plugin>
